<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403004211284-qvl95pk8t2cl16upd9kds11gbtf6tjij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403004211284-qvl95pk8t2cl16upd9kds11gbtf6tjij</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>403004211284-6keps9r1hdhpf6eo5ltpi65gqtuhr1rm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_MhV9ApdIZxuyYL1zZA57ngJC-wPi5r0</string>
	<key>GCM_SENDER_ID</key>
	<string>403004211284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cameraworldapp.earthCam</string>
	<key>PROJECT_ID</key>
	<string>earth-cam-75d5a</string>
	<key>STORAGE_BUCKET</key>
	<string>earth-cam-75d5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403004211284:ios:881eb7ec6c6a5f2534edc1</string>
	<key>DATABASE_URL</key>
	<string>https://earth-cam-75d5a.firebaseio.com</string>
</dict>
</plist>